<div class="topcoat-navigation-bar">
  <div class="topcoat-navigation-bar__item center full">
      <h1 class="topcoat-navigation-bar__title">Futbolistas</h1>
  </div>
</div>
<div class="search-bar">
<input type="search" value="" placeholder="buscar" class="topcoat-search-input" id="btnBuscar">
</div>
<div class="topcoat-list scroller">
  <ul class="topcoat-list__container list" id="lstFutbolistas">
</ul>
</div>