<div class="topcoat-navigation-bar">
      <div class="topcoat-navigation-bar__item left quarter">
          <a class="topcoat-icon-button--quiet back-button" href="#">
              <span class="topcoat-icon topcoat-icon--back"></span>
          </a>
      </div>
      <div class="topcoat-navigation-bar__item center half">
          <h1 class="topcoat-navigation-bar__title">Futbolistas</h1>
      </div>
  </div>
  <div class='detalles scroller'>
      <img src="assets/img/{{imagen}}" class="imagen-futbolista">
      <h1> </h1>
      <p><strong>Equipo:</strong>{{equipo}}</p>
      <p><strong>Posición: </strong>{{posicion}}</p>
      <p><strong>Dorsal:</strong>{{dorsal}} </p>
      <p><em></em></p>
      <div class="topcoat-list__container clearfix">
          <ul class="topcoat-list list actions">
              <li class="topcoat-list__item"><a href="tel:+34606606606"><p>Llamar al móvil</p><p>+34606606606</p><div class="action-icon icon-call"/></a></li>
              <li class="topcoat-list__item"><a href="tel:+34606606606"><p>Llamar al fijo</p><p>+34976414141</p><div class="action-icon icon-call"/></a></li>
              <li class="topcoat-list__item"><a href="sms:+34606606606"><p>Enviar SMS</p><p>+34606606606</p><div class="action-icon icon-sms"/></a></li>
              <li class="topcoat-list__item"><a href="mailto:micorreo@gmail.com"><p>Enviar correo electrónico</p><p>micorreo@gmail.com</p><div class="action-icon icon-mail"/></a></li>
              <li class="topcoat-list__item"><a href="#" class="add-location-btn"><p>Añadir posición</p></a></li>
              <li class="topcoat-list__item"><a href="#" class="add-contact-btn"><p>Añadir a contactos</p></a></li>
              <li class="topcoat-list__item"><a href="#" class="change-pic-btn"><p>Hacer una foto nueva</p></a></li>
          </ul>
      </div>
  </div>